#root {
  padding: 40px;
}

.toolbar__button:nth-child(n+2) {
  margin-left: 8px;
}

.active {
  background-color: #333333;
  color: #ffffff;
}

.portfolio {
  width: 900px;
  padding-top: 16px;
  columns: 3;
}

.portfolio__project {
  width: 100%;
}